ion-label.label {
  margin: 0;
}

.delete-set {
  padding: 0;
  position: relative;
  top:-2px;
}

.reps-input,{
  max-width: 5em;
  display: inline-block;
}

.weight-input {
  max-width: 10em;
  display: inline-block;
}
